.navbar {
  width: 100vw;
  padding: 1rem;
  background: var(--dark-purple);

  &--items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &--options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 1.1rem;
      font-weight: bold;

      a {
        color: white;
        transition: all 500ms;
      }

      a:hover {
        transform: scale(1.1);
      }
    }
  }
}
