:host {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
}

.profile {
  background: var(--darkest-purple);
  padding: 1rem;
  position: relative;

  &--info {
    background: var(--dark-purple);
    padding: 0.8rem .8rem 2rem;
    border-radius: .5rem;

    &--graduation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-top: 2rem;
    }

    .grad {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      border: 0.1rem solid;
      border-radius: 1rem;
    }
  }
}

.exit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #510e0e;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
}
