<div class="profile">
  <div class="profile--info">
    <h1>Formações:</h1>
    <div class="profile--info--graduation">
      <div class="grad">
        <a href="https://athonedu.com.br/" target="_blank">
          <img src="assets/images/Athon.svg">
        </a>
        <label>Formado em Análise e Desenvolvimento de Sistemas pela Athon durante o período de 2020 até Junho de
          2023.</label>
      </div>
      <div class="grad">
        <a href="https://www.etecfernandoprestes.com.br/" target="_blank">
          <img src="assets/images/Etec.svg">
        </a>
        <label>Técnico em Análise e Desenvolvimento de Sistemas pela Etec Fernando Prestes durante o período de Julho de
          2018 e final de 2019.</label>
      </div>
    </div>
    <button (click)="modalController.dismiss()" class="exit">X</button>
  </div>
</div>
